.lista__categoria {
  margin: 1rem 0;
  position: relative;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.lista {
  width: calc(100% - 5rem);
  margin: 0;
}
