header{
    background-color: lightgray;
    padding: 20px 0;
}

.box{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav ul li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.products{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;
}

.products li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid black;
    border-top-width: 15px;
    border-radius: 20px;
}

.products li:hover{
    border-color: orangered;
}

.products li:active{
    border-color: green;
}

/* Mudando o H2 quando HOVER no LI */
.products li:hover h2{
    font-size: 35px;
}

.products h2{
    font-size: 30px;
    font-weight: bold;
}

.products .price{
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}

.products .description{
    font-size: 18px;
}

nav a:hover{
    color: orangered;
    text-decoration: underline;
}

nav a:active{
    color: green;
}

footer{
    text-align: center;
    background-image: url(Images/bg.jpg);
    padding: 20px 0px;
}

#copyright{
    margin-top: 20px;
    color: white;
    font-size: 13px;
}