.banner{
    position: relative;
    width: 100%;
    height: calc(100vh - 72px);
    overflow: hidden;
}

.banner__titulo{
    color: #fdfdfd;
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 4px 4px black;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.banner__imagem{
    /* URL + Repete? + Posição? + Tamanho */
    background: url(../img/banner.jpg) no-repeat center / cover;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/* SECAO SOBRE */

.sobre{
    padding: 2.5rem;
    text-align: center;
}

.sobre__titulo{
    color: #8d0606;
    font-family: 'Pacifico', cursive;
    font-size: 3.2rem;
}

.sobre__descricao{
    color: #595959;
    font-size: 1.75rem;
    font-weight: 200
}